/* ===================主题色=================== */
.pcolor {
    color: #25354d;
}

.pcolor-lighten1 {
    color: #3d557c;
}

.pcolor-lighten2 {
    color: #708db9;
}

.pcolor-lighten3-bg {
    background-color: #d0dae7;
}

.pcolor-bg {
    background-color: #25354d;
}